.navigation {
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__list {
    display: none;

    @include response-to('device-large') {
      display: block;
      position: static;
    }
  }

  &__item {
    display: block;

    @include response-to('device-large') {
      display: inline-block;
    }
  }

  &__a {
    text-decoration: none;
    color: white;
    margin-left: 15px;

    &:hover {
      color: tomato;
    }
  }
}

#menu-bars:checked~ul {
  display: inline-block;
  width: 100%;
  text-align: end;
  position: absolute;
  top: 70px;

  @include response-to ('device-large') {
    width: auto;
    position: static;
  }
}

.size-fa {
  font-size: 45px;
}